@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2"),
       url("../fonts/Lato/Lato-Regular.woff"),
       url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Existence";
  src: url("../fonts/Existence/existence-light.woff"),
       url("../fonts/Existence/existence-light.ttf");
}

$pink: #9f449b;
$special-gray: #676767;
$lato-font-stack: Lato, Arial, sans-serif;
$existence-font-stack: Existence, Arial, sans-serif;

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.container {
  margin: 0px auto;
  width: 1000px;
}


.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: rgba(255,255,255,0.5);
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transition: border-top-color 0.3s ease;
}

.header-sprite {
  background-image: url(../images/header-sprites.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow-15,
.sprite-bubble,
.sprite-paperplane,
.sprite-pen,
.sprite-settings,
.sprite-user,
.sprite-photo {
  margin: 0px auto;
  margin-bottom: 10px;
}

.sprite-arrow-15 {
  width: 15px;
  height: 8px;
  background-position: -10px -10px;
}

.sprite-bubble {
  width: 31px;
  height: 28px;
  background-position: -10px -38px;
}

.sprite-paperplane {
  width: 29px;
  height: 29px;
  background-position: -10px -86px;
}

.sprite-pen {
  width: 29px;
  height: 29px;
  background-position: -10px -135px;
}

.sprite-photo {
  width: 25px;
  height: 27px;
  background-position: -10px -184px;
}

.sprite-settings {
  width: 29px;
  height: 29px;
  background-position: -10px -231px;
}

.sprite-user {
  width: 29px;
  height: 29px;
  background-position: -10px -280px;
}

.page-header {
  height: 585px;
  background-image: url(../images/header-background.png);
  color: white;
  font-family: $lato-font-stack;
  text-align: center;
  padding: 30px 150px 30px 150px;
  
  h1 {
    font-size: 0px;
    font-family: $existence-font-stack;
    font-size: bold;
    margin-bottom: 30px;
    
    span {
      font-size: 45px;
    }
    
    span:nth-child(2) {
      color: $pink;
    }
  }
  
  .page-header-description {
    margin-bottom: 40px;
    
    h3 {
      font-weight: 100;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 14px;
      font-weight: 100;
    }
  }
  
  .header-hexagon {
    @extend .hexagon;
    
    p {
      font-size: 12px;
      font-weight: 100;
      opacity: 1;
    }
  }
  
  .header-hexagon:nth-child(1) {
    margin-right: 20px;
  }
  
  .header-hexagon:nth-child(2) {
    margin-left: 20px;
  }
  
  .header-hexagon:before {
    @extend .hexagon:before;
    border-bottom: 25px solid rgba(255,255,255,0.5);
  }
  
  .header-hexagon:after {
    @extend .hexagon:after;
    border-top: 25px solid rgba(255,255,255,0.5);
  }
  
  .page-header-menu-center-part,
  .menu-block {
    display: flex;
    justify-content: center;
  }
  
  .page-header-menu-side-part {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  .header-submit-hexagon {
    @extend .hexagon;
    width: 50px;
    height: 27px;
    padding-top: 10px;
  }
  
  .header-submit-hexagon:before {
    @extend .hexagon:before;
    top: -13.7px;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-bottom: 14px solid rgba(255,255,255,0.5);
  }
  
  .header-submit-hexagon:after {
    @extend .hexagon:after;
    bottom: -13.7px;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-top: 14px solid rgba(255,255,255,0.5); 
  }
  
  .header-hexagon:hover,
  .header-submit-hexagon:hover {
    background-color: $pink;
    opacity: 1;
  }
  
  .header-hexagon:hover::before,
  .header-submit-hexagon:hover::before {
    border-bottom-color: $pink;
  }
  
  .header-hexagon:hover::after,
  .header-submit-hexagon:hover::after {
    border-top-color: $pink;
  }
}

.company-logo {
  color: $special-gray;
  font-family: $existence-font-stack;
  font-size: 0px;
  font-weight: bold;
  span:nth-child(2) {
    color: $pink;
  }
}

.page-nav-bar {
  height: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .nav-bar-company-logo {
    @extend .company-logo;
    
    span {
      font-size: 24px;
    }
  }
  
  ul {
    list-style-type: none;
    
    li {
      display: inline;
      width: 90px;      
      margin-right: 20px;
      
      a {
        text-decoration:  none;
        text-align: center;
        color: $special-gray;
        font-family: $lato-font-stack;
      }
      
      a:hover {
        color: $pink;
      }
    }
  }
}

.benefits-section {
  height: 398px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $special-gray;
  font-family: $lato-font-stack;
  background-color: #eeeeee;
  
  .benefit {
    padding-top: 40px;
    
    p {
      width: 200px;
      text-align: center;
    }
    
    p:nth-child(2) {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 16px;
    }
    
    p:nth-child(3) {
      font-size: 11px;
    }
  }
  
  .benefit-hexagon {
    @extend .hexagon;
    background-color: #95a5a6;
    margin: 0px auto;
  }
  
  .benefit-hexagon:before {
    @extend .hexagon:before;
    border-bottom: 25px solid #95a5a6;
  }
  
  .benefit-hexagon:after {
    @extend .hexagon:after;
    border-top: 25px solid #95a5a6;
  }
}

.divider-section {
  height: 313px;
  background-image: url(../images/divider-background.png);
  color: white;
  font-family: $lato-font-stack;
  font-size: 24px;
  padding-top: 100px;
  
  .divider-section-hexagon {
    @extend .hexagon;
    padding-top: 10px;
    margin: 0px auto;
  }
  
  .divider-section-hexagon:before {
    @extend .hexagon:before;
    border-bottom: 25px solid rgba(255,255,255,0.5);
  }
  
  .divider-section-hexagon:after {
    @extend .hexagon:after;
    border-top: 25px solid rgba(255,255,255,0.5);
  }
  
  h3 {
    width: 450px;
    margin: 60px auto;
    font-weight: 100;
    text-align: center;
  }
}
