@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2"),
       url("../fonts/Lato/Lato-Regular.woff"),
       url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Existence";
  src: url("../fonts/Existence/existence-light.woff"),
       url("../fonts/Existence/existence-light.ttf");
}

$pink: #9f449b;
$lato-font-stack: Lato, Arial, sans-serif;
$existence-font-stack: Existence, Arial, sans-serif;

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.container {
  margin: 0px auto;
  width: 1000px;
  
}

.page-header {
  height: 585px;
  background-image: url("../images/header-background.png");
  color: white;
  font-family: $lato-font-stack;
  text-align: center;
  padding: 30px 0px 30px 0px;
  h1 {
    font-size: 0px;
    font-family: $existence-font-stack;
    font-size: bold;
    span {
      font-size: 45px;
    }
    span:nth-child(2) {
      color: $pink;
    }
  }
  .header-description {
    font-size: 24px;
    h3 {
      font-weight: 200;
    }
    p {
      font-weight: 100;
    }
  }
}
