@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.woff2'),
       url('./fonts/Lato-Regular.woff'),
       url('./fonts/Lato-Regular.ttf');
}


@media screen and (min-width: 0px)
              and (max-width: 319px) {
  .container,
  .page-footer {
    width: 1024px;
  }
}

@media screen and (min-width: 320px)
              and (max-width: 480px) {
  .page-header .logo a{
    font-size: 27px;
  }

  .page-header .menu-button {
    display: block;
  }

  .not-hidden-menu {
    display: none;
  }

  .container .welcome-section h2,
  .container .abilities-section h2,
  .container .developers-team-section h2 {
    font-size: 25px;
  }

  .divider-inner .skills {
    font-size: 23px;
    padding:10px 5px  25px 5px;

  }

  .contacts-info,
  .developers-team,
  .abilities-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 481px)
              and (max-width: 767px) {
  .page-header .logo a{
    font-size: 35px;
  }

  .page-header .menu-button {
    display: block;
  }

  .not-hidden-menu {
    display: none;
  }

  .welcome-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts-info,
  .developers-team,
  .abilities-container {
    flex-direction: column;
  }

  .abilities-container .ability {
    width: 300px;
  }

  .ability .ability-description {
    font-size: 23px;
  }

  .developer {
    margin-bottom: 20px;
  }
  .developer .developers-name {
    font-size: 22px;
  }

  .developer .developers-position {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px)
              and (max-width: 1024px) {
  .welcome-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .not-hidden-menu {
    display: block;
  }
  .page-header .hidden-menu {
    display: none;
  }
  .contacts-info-chunk span,
  .contacts-info-chunk .email-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .page-header .hidden-menu {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  margin-bottom: -60px;
  font-size: 50px;
}

.page-header-container {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.page-header {
  position: relative;
  height: 100%;
  font-family: Loto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c3e50;
}
.page-header a {
  text-decoration: none;
}

.logo a {
  font-size: 40px;
  color: white;
}

.page-menu {
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
  list-style-type: none;
}

.page-menu li,
.page-menu a {
  display: inline-block;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  text-align: center;
  padding-top: 12px;
}

.page-menu a {
  font-size: 22px;
  color: white;
  transition: background-color 0.3s linear;
}
.page-menu a:hover {
  background-color: gray;
}

.menu-button {
  background-color: inherit;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  display: none
}

.hidden-menu {
  position: absolute;
  width: 100%;
  display: none;
  transition: display 0.3s linear;
  bottom: -150px;
  right: 0px;
}

.hidden-menu ul {
  list-style-type: none;
  padding-left: 0px;
  border: 1px solid black;
}

.hidden-menu li {
  height: 50px;
}

.hidden-menu li:first-child {
  border-bottom: 1px solid black;
}

.hidden-menu a {
  display: block;
  background-color: #2c3e50;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
  height: 100%;
  padding-top: 10px;
}
.show {
  display: block;
}
.welcome-section {
  padding-top: 140px;
  padding-bottom: 50px;
  background-color: #e1f5fe;
  color: #2c3e50;
  font-family: Lato, sans-serif;
  text-align: center;
}

.welcome-section h2,
.developers-team-section h2,
.abilities-section h2 {
  font-size: 40px;
  font-family: Arial, sans-serif;
}

.divider-inner {
    overflow: hidden;
    position: relative;
    font-family: Arial, sans-serif;
}

.skills {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #e1f5fe;
    position: relative;
}

.divider-inner:before {
    content: '';
    width: 100%;
    border-bottom: 3px solid #2c3e50;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.team-description {
  font-weight: 100;
  font-size: 23px;
  margin: 5px 0px 5px 0px;
}

.technologies {
  margin-top: 40px;
}

.abilities-section {
  padding-bottom: 50px;
  text-align: center;
  color: #2c3e50;
}

.ability {
  padding-top: 50px;
  width: 240px;
}

.ability-description {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 100;
  margin-top: 60px;
}

.hexagon {
  margin: 0 auto;
	width: 200px;
	height: 110px;
	background: #2c3e50;
	position: relative;
  color: white;
  padding-top: 15px;
  font-size: 70px;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 50px solid #2c3e50;

}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right:100px solid transparent;
	border-top: 50px solid #2c3e50;
}

.developers-team,
.contacts-info,
.abilities-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.developers-team-section {
  padding: 25px 0px 50px 0px;
  background-color: #e1f5fe;
  font-size: 30px;
  color: #2c3e50;
  font-family: Arial, sans-serif;
  text-align: center;
}

.developers-team-section h2 {
  margin: 0px 0px 30px 0px;
  padding-top: 20px;
}


.developer {
  width: 240px;
  height: 300px;
}

.developer-avatar {
  border-radius: 50%;
  height: 220px;
  width: 220px;
}

.developers-name {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold
}

.developers-position {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
.push {
  height: 60px;
}

.page-footer {
  height: 60px;
  padding-top: 20px;
  background-color: #233140;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.contacts-info {
  background-color: #2c3e50;
  color: white;
  font-family: Lato, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts-info-chunk {
  height: 150px;
  width: 240px;
  text-align: center;
  font-size: 18px;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.social-networks-button {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s linear;
}

.social-networks-button:hover {
  background-color: gray;
}

.social-networks-button a {
  padding-top: 10px;
  font-size: 25px;
  color: white;
  text-align: center;
  display: block;
  height: 100%;
}

.email-link {
  color: white;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
